data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._04_ami-gbif_fine-grained_all_test.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._04_ami-gbif_fine-grained_all_category_map.json
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._03_ami-gbif_fine-grained_c-america_val.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._03_ami-gbif_fine-grained_c-america_train.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._03_ami-gbif_fine-grained_c-america_test.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._03_ami-gbif_fine-grained_c-america_groupmap.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._03_ami-gbif_fine-grained_c-america_category_map.json
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._02_ami-gbif_fine-grained_w-europe_val.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._02_ami-gbif_fine-grained_w-europe_train.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._02_ami-gbif_fine-grained_w-europe_test.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._02_ami-gbif_fine-grained_w-europe_groupmap.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._02_ami-gbif_fine-grained_w-europe_category_map.json
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._01_ami-gbif_fine-grained_ne-america_val.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._01_ami-gbif_fine-grained_ne-america_train.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._01_ami-gbif_fine-grained_ne-america_test.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._01_ami-gbif_fine-grained_ne-america_groupmap.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/metadata/._01_ami-gbif_fine-grained_ne-america_category_map.json
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/._metadata
data/ami-dataset/archive/__MACOSX/ami_gbif/fine-grained_classification/._0019051-231002084531237.zip
data/ami-dataset/archive/__MACOSX/ami_gbif/binary_classification/metadata/._ami-gbif_binary_val.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/binary_classification/metadata/._ami-gbif_binary_train.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/binary_classification/metadata/._ami-gbif_binary_test.csv
data/ami-dataset/archive/__MACOSX/ami_gbif/binary_classification/metadata/._ami-gbif_binary_category_map.json
data/ami-dataset/archive/__MACOSX/ami_gbif/binary_classification/._metadata
data/ami-dataset/archive/__MACOSX/ami_gbif/binary_classification/._0122862-240321170329656_nonmoths.zip
data/ami-dataset/archive/__MACOSX/ami_gbif/._readme.txt
data/ami-dataset/archive/__MACOSX/ami_gbif/._fine-grained_classification
data/ami-dataset/archive/__MACOSX/ami_gbif/._binary_classification
data/ami-dataset/archive/__MACOSX/ami_gbif/._.DS_Store
data/ami-dataset/archive/__MACOSX/._ami_traps
data/ami-dataset/archive/__MACOSX/._ami_gbif
